<!-- 1. create a box and align it in the middle of the scree-->
<!-- <div class="container">
  <div class="mydiv">{{ageArr}} {{filterArr}}</div>
</div> -->

<div class="col" style="background-color: red">1</div>
<div class="col" style="background-color: rgb(87, 218, 36)">2</div>
<div class="col" style="background-color: rgb(16, 140, 189)">3</div>
<div class="col" style="background-color: rgb(218, 188, 23)">4</div>
<div class="col" style="background-color: rgb(25, 0, 255)">5</div>
<div class="col" style="background-color: rgb(255, 0, 170)">6</div>
<div class="col" style="background-color: brown">7</div>
<div class="col" style="background-color: rgb(14, 185, 143)">8</div>
<div class="col" style="background-color: rgb(109, 11, 101)">9</div>
<div class="col" style="background-color: rgb(129, 128, 35)">10</div>





<!-- </div> -->
